# NBA Salary

## Preprocessing data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('./CSV/nba_2017_salary.csv')

In [3]:
data.head(10)

              NAME POSITION                    TEAM      SALARY
0     LeBron James       SF     Cleveland Cavaliers  30963450.0
1      Mike Conley       PG       Memphis Grizzlies  26540100.0
2       Al Horford        C          Boston Celtics  26540100.0
3    Dirk Nowitzki       PF        Dallas Mavericks  25000000.0
4  Carmelo Anthony       SF         New York Knicks  24559380.0
5   Damian Lillard       PG  Portland Trail Blazers  24328425.0
6       Chris Bosh       PF              Miami Heat  23741060.0
7      Dwyane Wade       SG           Chicago Bulls  23200000.0
8    Dwight Howard        C           Atlanta Hawks  23180275.0
9       Chris Paul       PG             LA Clippers  22868827.0

#### Checking if there is NaN or duplicated data

In [4]:
data.isnull().values.any()

False

In [5]:
duplitedData = data[data.duplicated()]

print(duplitedData)

             NAME POSITION                   TEAM     SALARY
325  Caron Butler       SF       Sacramento Kings  1551659.0
326  Mitch McGary       PF  Oklahoma City Thunder  1526040.0
344  Jordan Adams       SG      Memphis Grizzlies  1465080.0

In [6]:
data = data.drop_duplicates(keep="first")

##### No duplicated data or NaN value

### Sorting data

In [7]:
# data['SALARY'] = pd.to_numeric(data['SALARY'])
# data['POSITION'] = pd.to_numeric(data['POSITION'])

data['SALARY'] = data['SALARY'].astype('int32')
data['POSITION'] = data['POSITION'].astype('str')

In [8]:
data.groupby(['TEAM']).sum().sort_values('SALARY', ascending = False)

# Something wrong with sorting by positions

                           SALARY
TEAM
Cleveland Cavaliers     126769035
Memphis Grizzlies       119056495
Charlotte Hornets       117009973
Portland Trail Blazers  115497517
San Antonio Spurs       114682791
Washington Wizards      112818118
Oklahoma City Thunder   101214131
Sacramento Kings        100829366
New York Knicks          98928447
Boston Celtics           95955280
LA Clippers              91291530
Golden State Warriors    89467269
Orlando Magic            89305940
Atlanta Hawks            88517721
Los Angeles Lakers       87098757
Indiana Pacers           86066479
Chicago Bulls            86066188
Toronto Raptors          85316776
Milwaukee Bucks          83182514
Utah Jazz                83164266
Detroit Pistons          78897138
New Orleans Pelicans     76907643
Houston Rockets          76748749
Philadelphia 76ers       75445646
Denver Nuggets           74320214
Minnesota Timberwolves   73523705
Miami Heat               72006057
Phoenix Suns             71809399
Brooklyn Nets            70969193
Dallas Mavericks         60278655

In [9]:
salary = data.groupby('SALARY').sum()

In [10]:
team = [teams for teams, df in data.groupby(['TEAM'])]

In [11]:
# plt.bar(team, salary['TEAM'])
# plt.xticks(teams, rotation = 'vertical', size = 8)
# plt.ylabel('Salary in USD ($)')
# plt.xlabel('Team name')
# plt.show()